---
componentName: eggs
images:
  productIcon:    "logo.png"
  productLogo:    "logo.png"
  productWelcome: "welcome.png"
slideshow:       "show.qml"
slideshowAPI:    1
strings:
  productName:         "{{ .ProductName }}"
  shortProductName:    "{{ .ShortProductName }}"
  version:             "{{ .Version }}"
  shortVersion:        "{{ .Version }}"
  versionedName:       "{{ .VersionedName }}"
  shortVersionedName:  "{{ .ShortVersionedName }}"
  bootloaderEntryName: "{{ .BootloaderEntryName }}"
  productUrl:          "{{ .ProductUrl }}"
  supportUrl:          "{{ .SupportUrl }}"
  knownIssuesUrl:      "{{ .KnownIssuesUrl }}"
  releaseNotesUrl:     "{{ .ReleaseNotesUrl }}"
style:
  SidebarBackground:        "#0A1022"
  sidebarBackground:        "#0A1022"
  SidebarBackgroundCurrent: "#2C62CF"
  sidebarBackgroundCurrent: "#2C62CF"
  SidebarText:              "#FFFFFF"
  sidebarText:              "#FFFFFF"
  SidebarTextCurrent:       "#FFFFFF"
  sidebarTextCurrent:       "#FFFFFF"
welcomeStyleCalamares: true
