---
componentName: eggs
images:
  productIcon:    "logo.png"
  productLogo:    "logo.png"
  productWelcome: "welcome.png"
slideshow:       "show.qml"
slideshowAPI:    1
strings:
  productName:         "kOS"
  shortProductName:    "kOS"
  version:             "{{ .Version }}"
  shortVersion:        "{{ .Version }}"
  versionedName:       "kOS"
  shortVersionedName:  "kOS"
  bootloaderEntryName: "kOS"
  productUrl:          "https://kaidevious.github.io/kOS/"
  supportUrl:          "https://github.com/KaiDevious/kOS/issues"
  knownIssuesUrl:      "https://github.com/KaiDevious/kOS/issues"
  releaseNotesUrl:     "https://github.com/KaiDevious/kOS"
style:
  SidebarBackground:        "#0A1022"
  sidebarBackground:        "#0A1022"
  SidebarBackgroundCurrent: "#2C62CF"
  sidebarBackgroundCurrent: "#2C62CF"
  SidebarText:              "#FFFFFF"
  sidebarText:              "#FFFFFF"
  SidebarTextCurrent:       "#FFFFFF"
  sidebarTextCurrent:       "#FFFFFF"
welcomeStyleCalamares: true
