[Desktop Entry]
Type=Application
Version=1.0
Name=Install kOS
GenericName=Installer
Comment=Install kOS to your hard disk
Exec=pkexec eggs sysinstall
Icon=/usr/share/pixmaps/install-system.png
Terminal=@@TERMINAL@@
Categories=System;
